<div class="container">
    <h2>Register Account</h2>
    <br/><br/>
    
    <form id="register-form">
        <div class="mb-3">
          <label form="username" class="form-label">Username</label>
          <input id="username" name="username" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label form="display-name" class="form-label">name</label>
            <input id="display-name" name="name" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label form="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label form="password" class="form-label">Password</label>
          <input id="password" name="password" type="password" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
      </form>


    <!-- <form id="register-form">
        <div class="form-group label-static is-emepty">
            <label form="username" class="control-lable">Username</label>
            <input id="username" name="username" class="form-control" type="text" placeholder="choose a username"/>
        </div>

        <div class="form-group label-static is-emepty">
            <label form="display-name" class="control-lable">Name</label>
            <input id="display-name" name="name" class="form-control" type="text" placeholder="Enter Full Name"/>
        </div>

        <div class="form-group label-static is-emepty">
            <label form="email" class="control-lable">Email</label>
            <input id="email" name="email" class="form-control" type="email" placeholder="enter email address"/>
        </div>

        <div class="form-group label-static is-emepty">
            <label form="password" class="control-lable">Password</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="enter a password"/>
        </div>
        <button type="submit" class="btn btn-info wave-effect ripple">Submit<div class="riplle-container"></div></button>
    </form> -->
</div>